{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load cloudinary %}


<div class="container">
    <h1> Add a Public Recipe
    </h1>
    <hr>
    <br>

    <div class="row justify-content-center">
        {% if user.is_authenticated %}
        <div class="col-10">
                <form action="" method="POST" enctype="multipart/form-data">
                    {{ submission_form | crispy }}
                    {% csrf_token %}
            
                    <button class="btn btn-md btn-secondary mb-5 mt-5" type="submit">Submit a Recipe</button>
                    <a href="#" class="btn btn-md btn-secondary mb-5 mt-5 ">Cancel</a>
            
                </form>
        </div>

        {% endif %}
    </div>
</div>