{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Home page for The Food Diary -->
        <div class="col-12 mt-3 left">
            <div class="row">
                <h1>This is the home page</h1>
            </div>
        </div>

        <div class="col-12 mt-3 left">
            <div class="row">
                <h1>There should be some explanation about the site here:</h1>
            </div>
        </div>


    </div>

</div>

{%endblock%}