{% extends "base.html" %}

{% block content %}

<div class="col-12">
    <div class="row">
        <div class="col-sm-6 offset-2">
            <div class="card mb-4">
                <div class="card-body offset-5">
                    <h3>Submit a recipe</h3>
                    <a href="{% url 'submit_recipe' %}" class=" offset-1 btn btn-primary"> Click here!</a>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for submission in submission_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in submission.image.url %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/deu8g0bhj/image/upload/v1670270038/placeholder-cookbook_mbevzk.jpg"
                                    alt="placeholder image">
                                {% else %}
                                <img class="card-img-top" alt="submission image" src=" {{ submission.image.url }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ submission.user }}</p>
                                </div>
                            </div>
                            <a href="{% url 'submission_detail' submission.submission_slug %}" class="post-link">
                                <h2 class="card-title">{{ submission.submission_title }}</h2>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">{{ submission.created_on}}
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>


        </div>


    </div>
</div>


{%endblock%}